@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    font-size: 14px;
}

header {
    width: 100%;
    height: 100vh;
    background-color: #2f5e7e;
    color: #fff;
}

header #particles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

header .info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8;
    height: 100vh;
}

header .info-text h1 {
    font-size: 5rem;
    font-weight: 500;
    font-family: 'Ubuntu';
}

header .info-text h3 {
    font-size: 1.5rem;
}

header .info-text .scroll {
    position: absolute;
    bottom: 20%;
    left: 50%;
    color: goldenrod;
    transform: translate(0, -50%);
    transition: all .5s;

}

header .info-text .scroll:hover {
    opacity: .7;
}

header .info-text .scroll::before {
    position: absolute;
    top: -16px;
    left: -16px;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
    border-radius: 100%;
    animation: pulse 3s infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 0;
    }

    15%,
    45% {
        opacity: 1;
    }

    60% {
        box-shadow: 0 0 0 30px rgba(255, 255, 255, .1);
        opacity: 0;
    }
}

#about,
#projects,
#projectsPage {
    background-color: #2f5e7e;
    padding: 40px;
}

#projectsPage {
    background-color: #2f5e7e;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;

}

#about .header,
#projects .header,
#projectsPage .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

#about .header h1,
#projects .header h1,
#projectsPage .header h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

#about .header .contactBtn {
    background-color: #2f5e7e;
    text-decoration: none;
    font-size: 1.3em;
    color: #fff;
    border: 1px solid transparent;
    padding: 10px 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
    border-radius: 6px;
    transition: all .3s ease;
}

#projects .header a,
#projectsPage .header a {
    text-decoration: none;
    font-size: 1.3em;
    color: #fff;
    border: 1px solid transparent;
    padding: 10px 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
    border-radius: 6px;
    transition: all .3s ease;
}

#about .header .contactBtn:hover {
    border-color: goldenrod;
    box-shadow: none;
    cursor: pointer;
}

#projects .header a:hover,
#projectsPage .header a:hover {
    border-color: goldenrod;
    box-shadow: none;
}

#about .card,
#projects .card,
#projectsPage .card {
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
    border-radius: 20px;
    display: flex;
    gap: 30px;
    border: 1px solid transparent;
    transition: all .3s ease;
}

#about .card:hover,
#projects .card:hover,
#projectsPage .card:hover {
    border-color: goldenrod;
    box-shadow: none;
}

#about .card img {
    max-width: 200px;
    max-height: 200px;
}

#about .card .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#about .card .info h1,
#projects .card .info h1,
#projectsPage .card .info h1 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Ubuntu';
}

#about .card .info p,
#projects .card .info p,
#projectsPage .card .info p {
    color: #ccc;
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-indent: 2rem;
}

#projects .project-cards,
#projectsPage .project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

#projects .project-cards .card,
#projectsPage .project-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 350px;
}

#projects .project-cards .card .info i,
#projectsPage .project-cards .card .info i {
    color: #fff;
    font-size: 8rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1.4rem;
}

#projects .project-cards .card .info h1,
#projectsPage .project-cards .card .info h1 {
    text-align: center;
}

#projects .project-cards .card .info p,
#projectsPage .project-cards .card .info p {
    font-size: 1.1rem;
}

.scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: goldenrod;
    background-color: #2f5e7e;
    border: 1px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
    padding: 16px 18px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
}

.scroll-top:hover {
    border-color: goldenrod;
    box-shadow: none;
}

@media screen and (max-width: 720px) {
    header .info-text h1 {
        font-size: 4rem;
    }

    header .info-text h3 {
        font-size: 1.1rem;
    }

    #about .card {
        flex-direction: colum;
        align-items: center;
    }

    #about .card img {
        max-width: 150px;
        max-height: 150px;
    }
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}